@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide input number spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  padding : 0;
  margin: 0;
  background-image: url(/assets/1234.png);
}